{% include 'links.html' %}
<div class="login-container">

    <nav class="nav row">
        <div class="col-1"></div>
        <div class="col-2">
            <img class="logo" src="static/images/img.png">
        </div>
        <div class="col-6 middle">

            <div class="row">
                <a class="nav-link fs-20" href="/recruiter_home">Recruitment Home</a>
                <a class="nav-link fs-20" href="/view_job_post">View Post Job</a>
                <a class="nav-link fs-20" href="/view_my_job">View  My job</a>
                <a class="nav-link fs-20" href="/view_applications">Applications</a>
                <a class="nav-link fs-20" href="/logout">Logout</a>
            </div>
        </div>
        <div class="col-3"></div>
    </nav>
