{% include 'links.html' %}
<div class="login-container">
    <nav class="nav row">
        <div class="col-1"></div>
        <div class="col-2">
            <img class="logo" src="static/images/img.png">
        </div>
        <div class="col-6 middle">
    
            <div class="row">
                <a class="nav-link fs-20" href="/">Home</a>
                <a class="nav-link fs-20" href="/admin_login">Admin</a>
                <a class="nav-link fs-20" href="/company_login">Company</a>
                <a class="nav-link fs-20" href="/recruiter_login">Recruiter</a>
                <a class="nav-link fs-20" href="/seeker_login">Seeker</a>
            </div>
        </div>
        <div class="col-3"></div>
    </nav>